<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body data-bs-theme="dark">
    <header class="bg-primary text-white p-3 mb-4">
        <div class="container d-flex align-items-center justify-content-between">
            <a href="/" class="text-white text-decoration-none">
                <img src="/img/logo4.png" alt="Logo" class="logo">
            </a>
            <div>
                <% if (user) { %>
                    <span>Привет, <strong><%= user.username %></strong>!</span>
                    <a href="/user/profile" class="btn btn-outline-light btn-sm">Профиль</a>
                    <a href="/auth/logout" class="btn btn-outline-light btn-sm">Выйти</a>
                <% } else { %>
                    <a href="/login" class="btn btn-outline-light btn-sm">Войти</a>
                    <a href="/register" class="btn btn-outline-light btn-sm">Регистрация</a>
                <% } %>
            </div>
        </div>
    </header>

    <main class="container">
        <h1 class="mb-4">Главная страница</h1>

        <% if (user) { %>
            <hr>
            <form action="/topics/create" method="POST" class="mb-4 mx-auto" style="max-width: 600px;">
                <h2 class="mb-3">📝Создать пост</h2>
                <div class="mb-3">
                    <textarea id="content" class="form-control" name="content" placeholder="Ваш пост..." maxlength="1000" required></textarea>
                    <div class="char-counter" id="char-counter">0/1000</div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" id="schedulePost" class="form-check-input" name="isScheduled">
                        <label for="schedulePost" class="form-check-label">Опубликовать позже</label>
                    </div>
                    <div class="mb-3" id="scheduleFields" style="display: none;">
                        <label for="scheduleTime" class="form-label">Дата и время публикации</label>
                        <input type="datetime-local"  id="scheduleTime" class="form-control" name="scheduledAt">
                    </div>
                    <button type="submit" class="btn btn-primary">Опубликовать</button>
                </div>
            </form>
            <hr>
        <% } else { %>
            <p><a href="/login" class="text-decoration-none">Войдите</a>, чтобы создать тему.</p>
        <% } %>

        <div style="max-width: 700px;">
            <h2>Опубликованные посты</h2>
            <% topics.forEach(topic => { %>
                <div class="topic-card">
                    <div class="topic-content">
                        <%= topic.content %>
                    </div>
                    <div class="topic-footer">
                        <span>Автор:<strong><%= topic.user.username %></strong></span>
                        <% if (user && user.role === 'admin') { %>
                            <form action="/topics/delete/<%= topic.id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Удалить пост</button>
                            </form>
                        <% } %>
                        <span><%= topic.createdAt.toLocaleString() %></span>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>

    <script src="/js/homeScript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
